USE [master]
GO
/****** Object:  Database [SmartAssemblyDB]    Script Date: 14/9/2022 19:48:14 ******/
CREATE DATABASE [SmartAssemblyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TFI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TFI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAssemblyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAssemblyDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[FechaNacimiento] [varchar](30) NOT NULL,
	[Telefono] [varchar](30) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Provincia] [varchar](30) NOT NULL,
	[Barrio] [varchar](30) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componente]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Perfomance] [int] NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[TipoFormato] [varchar](20) NULL,
	[TipoMemoria] [varchar](20) NULL,
	[Socket] [varchar](50) NULL,
	[TieneVideoIntegrado] [bit] NULL,
	[Canales] [int] NULL,
	[NivelVideoIntegrado] [int] NULL,
	[NivelFanIntegrado] [int] NULL,
	[NecesitaAltaFrecuencia] [bit] NULL,
	[Capacidad] [int] NULL,
	[TamanoFan] [int] NULL,
	[MaximaFrecuencia] [int] NULL,
	[Stock] [int] NOT NULL,
	[ConsumoEnWatts] [int] NOT NULL,
	[StockLimite] [int] NOT NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponenteComputadora]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponenteComputadora](
	[ID_Component] [int] NOT NULL,
	[ID_Computer] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computadora]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computadora](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pedido] [int] NOT NULL,
	[TipoUso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Computer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](30) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUso]    Script Date: 14/9/2022 19:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Cpu] [int] NOT NULL,
	[Ram] [int] NOT NULL,
	[Gpu] [int] NOT NULL,
	[Hdd] [int] NOT NULL,
	[Ssd] [int] NOT NULL,
 CONSTRAINT [PK_Especificacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Telefono], [Correo], [Provincia], [Barrio], [Contrasena]) VALUES (2, N'1', N'1', N'10/05/2000', N'1', N'1', N'1', N'1', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Componente] ON 

INSERT [dbo].[Componente] ([ID], [Nombre], [Precio], [Perfomance], [Tipo], [TipoFormato], [TipoMemoria], [Socket], [TieneVideoIntegrado], [Canales], [NivelVideoIntegrado], [NivelFanIntegrado], [NecesitaAltaFrecuencia], [Capacidad], [TamanoFan], [MaximaFrecuencia], [Stock], [ConsumoEnWatts], [StockLimite]) VALUES (1, N'INTEL I3 11TH', CAST(28800.00 AS Decimal(10, 2)), 30, N'CPU', NULL, N'DDR4', N'1200', 1, 2, 10, 10, 0, NULL, NULL, 2633, 1000, 50, 10)
INSERT [dbo].[Componente] ([ID], [Nombre], [Precio], [Perfomance], [Tipo], [TipoFormato], [TipoMemoria], [Socket], [TieneVideoIntegrado], [Canales], [NivelVideoIntegrado], [NivelFanIntegrado], [NecesitaAltaFrecuencia], [Capacidad], [TamanoFan], [MaximaFrecuencia], [Stock], [ConsumoEnWatts], [StockLimite]) VALUES (3, N'INTEL I5 11TH', CAST(36000.00 AS Decimal(10, 2)), 50, N'CPU', NULL, N'DDR4', N'1200', 1, 2, 10, 10, 0, NULL, NULL, 2933, 1000, 70, 10)
INSERT [dbo].[Componente] ([ID], [Nombre], [Precio], [Perfomance], [Tipo], [TipoFormato], [TipoMemoria], [Socket], [TieneVideoIntegrado], [Canales], [NivelVideoIntegrado], [NivelFanIntegrado], [NecesitaAltaFrecuencia], [Capacidad], [TamanoFan], [MaximaFrecuencia], [Stock], [ConsumoEnWatts], [StockLimite]) VALUES (5, N'INTEL I9 11TH', CAST(60000.00 AS Decimal(10, 2)), 90, N'CPU', NULL, N'DDR4', N'1200', 0, 4, NULL, 20, 1, NULL, NULL, 3600, 1000, 150, 10)
SET IDENTITY_INSERT [dbo].[Componente] OFF
GO
INSERT [dbo].[ComponenteComputadora] ([ID_Component], [ID_Computer]) VALUES (8, 5882)
INSERT [dbo].[ComponenteComputadora] ([ID_Component], [ID_Computer]) VALUES (21, 5882)
INSERT [dbo].[ComponenteComputadora] ([ID_Component], [ID_Computer]) VALUES (28, 5882)
GO
SET IDENTITY_INSERT [dbo].[Computadora] ON 

INSERT [dbo].[Computadora] ([ID], [ID_Pedido], [TipoUso]) VALUES (5882, 4349, N'gaming')
INSERT [dbo].[Computadora] ([ID], [ID_Pedido], [TipoUso]) VALUES (5883, 4349, N'gaming')
INSERT [dbo].[Computadora] ([ID], [ID_Pedido], [TipoUso]) VALUES (5884, 4350, N'gaming')
SET IDENTITY_INSERT [dbo].[Computadora] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id], [NombreUsuario], [Correo], [Nombre], [Apellido], [Contrasena]) VALUES (138, N'test', N'test', N'pablo', N'test', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUso] ON 

INSERT [dbo].[TipoUso] ([Id], [Nombre], [Cpu], [Ram], [Gpu], [Hdd], [Ssd]) VALUES (2, N'Gaming  4K', 50, 16, 80, 1000, 1000)
INSERT [dbo].[TipoUso] ([Id], [Nombre], [Cpu], [Ram], [Gpu], [Hdd], [Ssd]) VALUES (3, N'Edicion de video', 70, 16, 70, 1000, 1000)
INSERT [dbo].[TipoUso] ([Id], [Nombre], [Cpu], [Ram], [Gpu], [Hdd], [Ssd]) VALUES (4, N'Arquitectura', 60, 16, 50, 1000, 480)
SET IDENTITY_INSERT [dbo].[TipoUso] OFF
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_TypeFormat]  DEFAULT ('___') FOR [TipoFormato]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_TypeMemory]  DEFAULT ('___') FOR [TipoMemoria]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Socket]  DEFAULT ('___') FOR [Socket]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_HasIntegratedVideo]  DEFAULT ((0)) FOR [TieneVideoIntegrado]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Channels]  DEFAULT ((0)) FOR [Canales]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_VideoLevel]  DEFAULT ((0)) FOR [NivelVideoIntegrado]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_FanLevel]  DEFAULT ((0)) FOR [NivelFanIntegrado]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_NeedHighFrecuency]  DEFAULT ((0)) FOR [NecesitaAltaFrecuencia]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Capacity]  DEFAULT ((0)) FOR [Capacidad]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Size]  DEFAULT ((0)) FOR [TamanoFan]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_MaxFrecuency]  DEFAULT ((0)) FOR [MaximaFrecuencia]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Stock]  DEFAULT ((10)) FOR [Stock]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Watts]  DEFAULT ((20)) FOR [ConsumoEnWatts]
GO
ALTER TABLE [dbo].[Componente] ADD  CONSTRAINT [DF_Component_Stock_Limit]  DEFAULT ((1)) FOR [StockLimite]
GO
ALTER TABLE [dbo].[ComponenteComputadora]  WITH CHECK ADD  CONSTRAINT [FK_Component_Computer_Component] FOREIGN KEY([ID_Component])
REFERENCES [dbo].[Componente] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponenteComputadora] CHECK CONSTRAINT [FK_Component_Computer_Component]
GO
ALTER TABLE [dbo].[ComponenteComputadora]  WITH CHECK ADD  CONSTRAINT [FK_Component_Computer_Computer] FOREIGN KEY([ID_Computer])
REFERENCES [dbo].[Computadora] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponenteComputadora] CHECK CONSTRAINT [FK_Component_Computer_Computer]
GO
USE [master]
GO
