<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=DESKTOP-OOOG6J4\SQLEXPRESS;Initial Catalog=SmartAssemblyDB;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="costoArmado" value="1500" />
    <add key="altaFrecuencia" value="2933" />
    <add key="multiplicadorPrecioPerfomance" value="15000" />
  </appSettings>
</configuration>